
@{
    ViewData["Title"] = "Index";
}
@section styles {
    <link href="~/css/index.css" rel="stylesheet" />

}

<div class="wrapper">
    <div class="grid-container">
        <div class="Hamburger">
            <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; open</span>
            @*<div id="nav-icon" onclick="burgerStuff()">
                <span></span>
                <span></span>
                <span></span>
            </div>*@

        </div>
    <div class="CompanyName roundCorners wrapper">

        <h3 class="center">@User.Identity.Name.ToUpper()</h3>

    </div>
    <div class="EmptySpace roundCorners wrapper">

        <!-- [SIDEBAR]-->
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="#">About</a>
            <a href="#">Help</a>
            <a href="#">Settings</a>
            <a href="#">Logout</a>
        </div>


    </div>

    <!-- [LEADERBOARD] -->
    <div class="Leaderboard Gradient roundCorners">

        <div class="lessOpacity tableFixHead" data-simplebar>
            <table>
                <thead>
                    <tr>
                        <th width="10%"></th>
                        <th id="scoreBtn" onclick="sortByScore()" width="20%">SCORE</th>
                        <th id="playerNameBtn" onclick="sortByName()" width="40%">PLAYER NAME</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="leaderboard">
                </tbody>
            </table>
        </div>
    </div>

    <!-- [SELECTED] -->
    <div class="Selected Gradient roundCorners">

        <div class="lessOpacity tableFixHead" data-simplebar>
            <table>
                <thead>
                    <tr>
                        <th>SELECTED PLAYERS</th>
                        <th id="playerCounter"></th>
                    </tr>
                </thead>
                <tbody id="selected">
                </tbody>
            </table>
        </div>
    </div>

    <!-- [TOURNAMENT NAME INPUT] -->
    <div class="TournamentName roundCorners">

        <div class="roundCorners">
            <input type="text" class="input-group input-group-lg roundCorners" placeholder="Enter tournament name..." id="tournamentNameInput" onkeyup="checkIfTournamentNameIsValidInput(this)" />
        </div>

    </div>

    <!-- [START TOURNAMENT BUTTON] -->
    <div class="StartTournament roundCorners">

        <div class="lessOpacity">
            <input type="button" id="startTournament" class="btn btn-secondary btn-block" onclick="startTournament()" value="CREATE TOURNAMENT" disabled />
        </div>

    </div>

    <!-- [CLEAR SELECTED] -->
    <div class="ClearTournament roundCorners">

        <div class="lessOpacity">
            <input type="button" onclick="clearSelected()" id="clearSelectedBtn" class="btn btn-danger btn-block" value="CLEAR" disabled />
        </div>

    </div>

    <!-- [ADD PLAYERS SELECTED] -->
    <div class="AddPlayers roundCorners">

        <div>
            <button type="button" class="btn btn-success btn-block" id="addPlayerModalBtn">Add New Player</button>
        </div>

    </div>

    <!-- [COMPLETED TOURNAMENTS] -->
    <div class="Completed roundCorners Gradient">

        <div class="lessOpacity tableFixHead" data-simplebar>
            <table>
                <thead>
                    <tr>
                        <th><b style="color: #FE512C">COMPLETED</b> TOURNAMENTS</th>
                        <th widht="60%"></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="completed">
                </tbody>
            </table>
        </div>

    </div>

    <!-- [ONGOING TOURNAMENTS] -->
    <div class="Ongoing Gradient roundCorners">

        <div class="lessOpacity tableFixHead" data-simplebar>
            <table>
                <thead>
                    <tr>
                        <th><b style="color: #FEFEAE;">ONGOING</b> TOURNAMENTS</th>
                        <th widht="60%"></th>
                        <th></th>

                    </tr>
                </thead>
                <tbody id="ongoing">
                </tbody>
            </table>
        </div>

    </div>

    <div class="Footer roundCorners wrapper">

        <footer>
            <p class="copyright">© Business Tournaments 2020</p>
        </footer>

    </div>
</div>
</div>

<div id="addPlayerModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add New Player</h4>
            </div>
            <div class="modal-body" id="modalPlayerNames">

            </div>
            <input type="button" value="Add Player" onclick="addPlayers()" />
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<div id="editPlayerModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Player</h4>
            </div>
            <div class="modal-body" id="modalEditPlayer">

                <input type="text" id="editPlayerName" placeholder="New name here..." />

            </div>
            <input type="button" class="btn btn-primary" value="Edit" id="editPlayerBtn" onclick="confirmEditPlayer()" />
            <input type="button" class="btn btn-danger" value="Delete" id="deletePlayerBtn" onclick="confirmDeletePlayer()" />
            <div class="modal-footer">
                <button type="button" id="modalClose" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

@section scripts {
    <script src="~/js/index.js"></script>
}
