
@{
    ViewData["Title"] = "Index";
}
@section styles {
    <link href="~/css/index.css" rel="stylesheet" />
}

<div class="wrapper">
    <div class="grid-container">

        <div class="Hamburger">

            <partial name="_Hamburger" />

        </div>

        @*<div class="EmptySpace roundCorners wrapper">*@


        <!-- [LEADERBOARD] -->
        <div class="Leaderboard Gradient roundCorners">

            <div class="lessOpacity tableFixHead" data-simplebar>
                <table>
                    <thead>
                        <tr>
                            <th width="20px"></th>
                            <th id="scoreBtn" class="scoreth" onclick="sortByScore()">SCORE</th>
                            <th id="playerNameBtn" class="nameth" onclick="sortByName()">PLAYER NAME</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="leaderboard">
                    </tbody>
                </table>
            </div>
        </div>

        <!-- [SELECTED] -->
        <div class="Selected Gradient roundCorners">

            <div class="lessOpacity tableFixHead" data-simplebar>
                <table>
                    <thead>
                        <tr>
                            <th>SELECTED PLAYERS</th>
                            <th id="playerCounter"></th>
                        </tr>
                    </thead>
                    <tbody id="selected">
                    </tbody>
                </table>
            </div>
        </div>

        <!-- [TOURNAMENT NAME INPUT] -->
        <div class="TournamentName roundCorners">

            <div class="roundCorners">
                <input type="text" style="padding-left: 5px;" class="input-group input-group-lg roundCorners" placeholder="Enter tournament name..." id="tournamentNameInput" onkeyup="checkIfTournamentNameIsValidInput(this)" />
            </div>

        </div>

        <!-- [START TOURNAMENT BUTTON] -->
        <div class="StartTournament roundCorners">

            <div class="lessOpacity">
                <input type="button" id="startTournament" class="btn btn-secondary btn-block" onclick="startTournament()" value="CREATE" disabled />
            </div>

        </div>

        <!-- [CLEAR SELECTED] -->
        <div class="ClearTournament roundCorners">

            <div class="lessOpacity">
                <input type="button" onclick="clearSelected()" id="clearSelectedBtn" class="btn btn-danger btn-block" value="CLEAR" disabled />
            </div>

        </div>

        <!-- [ADD PLAYERS SELECTED] -->
        <div class="AddPlayers roundCorners">

            <div>
                <button type="button" class="btn btn-block" id="addPlayerModalBtn">ADD NEW PLAYERS</button>
            </div>

        </div>


        <!-- [COMPLETED TOURNAMENTS] -->
        <div class="Completed roundCorners Gradient">

            <div class="lessOpacity tableFixHead" data-simplebar>
                <table>
                    <thead>
                        <tr>
                            <th colspan="3"><b style="color: #ff973c">COMPLETED</b> TOURNAMENTS</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="completed">
                    </tbody>
                </table>
            </div>

        </div>

        <!-- [ONGOING TOURNAMENTS] -->
        <div class="Ongoing Gradient roundCorners">

            <div class="lessOpacity tableFixHead" data-simplebar>
                <table>
                    <thead>
                        <tr>
                            <th colspan="3"><b style="color: #FEFEAE;">ONGOING</b> TOURNAMENTS</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="ongoing">
                    </tbody>
                </table>
            </div>

        </div>

        <!-- [FOOTER] -->
        <div class="Footer roundCorners wrapper">

            <footer>
                <p class="copyright">© Business Tournaments 2020</p>
            </footer>

        </div>
    </div>
</div>


<!-- [ADD PLAYER MODAL] -->
<div id="addPlayerModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-notify modal-info ">

        <div class="modal-content bg-dark text-white">
            <div class="modal-header">
                <h4 style="font-family: Abel-Regular;" class="heading">Add New Player</h4>
                <button type="button" id="modalClose" class="close white-text" data-dismiss="modal">
                    <span aria-hidden="true" class="white-text">×</span>
                </button>
            </div>
            <div class="modal-body" id="modalPlayerNames">

            </div>
            <div class="modal-footer flex-center no-border">
                <input style="font-family: Abel-Regular;" type="button" class="btn btn-outline-info waves-effect" value="Add Player" onclick="addPlayers()" />
            </div>
        </div>

    </div>
</div>

<!-- [EDIT PLAYER MODAL] -->

<div id="editPlayerModal" class="modal fade " role="dialog">
    <div class="modal-dialog modal-notify modal-info " role="document">

        <div class="modal-content bg-dark text-white">
            <div class="modal-header no-border">
                <h4 style="font-family: Abel-Regular;" class="heading">Edit Player</h4>
                <button type="button" id="modalClose" class="close white-text" data-dismiss="modal">
                    <span aria-hidden="true" class="white-text">×</span>
                </button>
            </div>
            <div class="modal-body" id="modalEditPlayer">

                <input type="text" id="editPlayerName" placeholder="New name here..." />

            </div>
            <div class="modal-footer flex-center no-border">
                <input style="font-family: Abel-Regular;" type="button" class="btn btn-outline-info waves-effect" value="Edit" id="editPlayerBtn" onclick="validateEditPlayerName()" />
                <input style="font-family: Abel-Regular;" type="button" class="btn btn-info" value="Delete" id="deletePlayerBtn" onclick="confirmDeletePlayer()" />
            </div>
        </div>

    </div>
</div>




@section scripts {
    @*<script src="~/js/hamburger.js"></script>*@
    <script src="~/js/index.js"></script>
}
