@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700);
@import url(https://fonts.googleapis.com/css?family=Dosis);
@import "layout.css";

html, body, .grid-container {
    height: 95vh;
    width: 95vw;
    position: relative;
    margin-top: 2.5vh;
    margin-left: 2.5vw;
    height: 100%;
    width: 100%;
    margin: 0;
    background-image: var(--body-bg-img);
    font-family: Abel-Regular;
    background-size: cover;
}

    .grid-container * {
        position: relative;
    }

        .grid-container *:after {
            /*content: attr(class);*/
            position: absolute;
            top: 0;
            left: 0;
        }

.grid-container {
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.3fr 3.1fr 0.3fr 0.3fr;
    grid-template-areas: "Hamburger TournamentName TournamentName EmptyUpperRight" "BracketGrid BracketGrid BracketGrid BracketGrid" "EmptyLowerLeft SaveAndClose SaveAndClose EmptyLowerRight" "EmptyLowerLeft Footer Footer EmptyLowerRight";
}

.Hamburger {
    grid-area: Hamburger;
}

.Footer {
    grid-area: Footer;
    text-align: center;
}

.TournamentName {
    grid-area: TournamentName;
    text-align: center;
    font-family: Abel-Regular;
    font-size: 2.5em;
    color: var(--company-tournament-header-c);
    padding-top: 0.6vw;
}

.SaveAndClose {
    grid-area: SaveAndClose;
    text-align: center;
}

.EmptyUpperRight {
    grid-area: EmptyUpperRight;
}

.EmptyLowerRight {
    grid-area: EmptyLowerRight;
}

.EmptyLowerLeft {
    grid-area: EmptyLowerLeft;
}

.BracketGrid {
    grid-area: BracketGrid;
}


.FooterStuff {
    z-index: 10;
    position: absolute;
}

.header {
    height: 10%;
}

    .header > h1 {
        margin: auto;
        text-align: center;
        font-family: 'Dosis', sans-serif;
        color: #205060
    }

.bracket-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.bracket-level {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    flex-grow: 1;
    transition: all ease .5s;
}

#winner {

}

.bracket-match {
    width: 90%;
    margin: auto;
    max-height: 50px;
    height: 100%;
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
    justify-content: center;
}

.bracket {
    height: 100%;
    width: 100%;
    background-color: rgba(255, 252, 92, 0.60);
    box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
    display: flex;
    flex-direction: row;
    margin-bottom: 2%;
    margin-top: 5%;
    min-height: 70%;
    cursor: pointer;
    transition: all ease .5s;
    text-align: center;
    justify-content: center;
}

    .bracket:hover {
        background-color: rgba(255, 251, 0, 0.8);
    }

    .bracket.winner {
        background-color: #33c98c;
        font-weight: bold;
        box-shadow: 0 0 7px 1px #33c98c;
    }

    .bracket.loser {
        /*background-color: rgba(156, 85, 38, 0.70);*/
        background-color: rgba(175, 89, 89, 0.60);
    }

    .bracket.totalwinner {
        background: linear-gradient(to right, #bf953f, #FCF6BA, #b38728, #fbf5b7, #aa771c);
        font-weight: bold;
    }

    .bracket.empty {
        background-color: rgba(128, 128, 128, 0.8);
        transition: all ease .5s;
        cursor: default;
    }

.upper {
    transition: all ease .5s;
}

.lower {
    transition: all ease .5s;
}

.player-name, .score {
    font-family: Abel-Regular;
    /*width: 100%;*/
    font-size: 1em;
    padding: .2em;
    line-height: 1.6em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: white;
    text-align: center;
    /*display: block;*/
    /*transition: all ease .5s;*/
}

.bracket.totalwinner .player-name, .bracket.totalwinner .score {
    color: #44300d;
    font-size: 1.2em;
    line-height: 1.4em;
    /*text-shadow: 3px 3px 3px 3px gray;*/
}

.player-id {
    display: none;
}

#eights-left .empty {
    visibility: hidden;
}

#eights-right .empty {
    visibility: hidden;
}

#quarters .empty {
    visibility: hidden;
}

#final-16players #b0 {
    margin-bottom: 40%;
}

#final-16players #b2 {
    margin-bottom: 65%;
}

#semis-left #b3 {
    margin-bottom: 50%;
}

#semis-right #b5 {
    margin-bottom: 50%;
}

.SaveAndClose .btn {
    background-color: rgba(42, 155, 109, 0.3);
    border: solid 1px rgba(42, 155, 109, 1); 
    color: white;
}

    .SaveAndClose .btn:hover {
        background-color: #32b580;
        color: white;
    }