@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700);
@import url(https://fonts.googleapis.com/css?family=Dosis);
@import "layout.css";

html, body, .grid-container {
    height: 95vh;
    width: 95vw;
    position: relative;
    margin-top: 2.5vh;
    margin-left: 2.5vw;
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: var(--body-bgc);
}

    .grid-container * {
        /*border: 1px solid red;*/
        position: relative;
    }

        .grid-container *:after {
            /*content: attr(class);*/
            position: absolute;
            top: 0;
            left: 0;
        }

.grid-container {
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.3fr 3.1fr 0.3fr 0.3fr;
    grid-template-areas: "Hamburger TournamentName TournamentName EmptyUpperRight" "BracketGrid BracketGrid BracketGrid BracketGrid" "EmptyLowerLeft SaveAndClose SaveAndClose EmptyLowerRight" "EmptyLowerLeft Footer Footer EmptyLowerRight";
}

.Hamburger {
    grid-area: Hamburger;
}

.Footer {
    grid-area: Footer;
    text-align: center;
}

.TournamentName {
    grid-area: TournamentName;
    text-align: center;
}

.SaveAndClose {
    grid-area: SaveAndClose;
    text-align: center;
}

.EmptyUpperRight {
    grid-area: EmptyUpperRight;
}

.EmptyLowerRight {
    grid-area: EmptyLowerRight;
}

.EmptyLowerLeft {
    grid-area: EmptyLowerLeft;
}

.BracketGrid {
    grid-area: BracketGrid;
}


.FooterStuff {
    z-index: 10;
    position: absolute;
}

.header {
    height: 10%;
}

    .header > h1 {
        margin: auto;
        text-align: center;
        font-family: 'Dosis', sans-serif;
        color: #205060
    }

.bracket-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    /*padding-bottom: 50px;*/

}

.bracket-level {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    flex-grow: 1;
    transition: all ease .5s;
}

#winner {

}

.bracket-match {
    width: 90%;
    margin: auto;
    max-height: 50px;
    height: 100%;
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
    justify-content: center;
}

.bracket {
    height: 100%;
    width: 100%;
    background-color: #e6e05a;
    box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
    display: flex;
    flex-direction: row;
    transition: all ease .5s;
    margin-bottom: 2%;
    margin-top: 5%;
    min-height: 70%;
    cursor: pointer;
}

    .bracket.winner {
        background-color: #96e581;
        font-weight: bold;
        box-shadow: 0 0 10px 3px #96e581 ;
    }

    .bracket.loser {
        background-color: #9c5526;
    }

    .bracket.totalwinner {
        background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%), radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
        font-weight: bold;
        box-shadow: 0 0 10px 10px #FEDB37;
    }

    .bracket.empty {
        background-color: rgba(128, 128, 128, 0.8);
        transition: all ease .5s;
        cursor: default;
    }

.upper {
    transition: all ease .5s;
}

.lower {
    transition: all ease .5s;
}

.player-name {
    font-family: Abel-Regular;
    width: 100%;
    font-size: 1em;
    padding: .2em;
    line-height: 1.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #2B2B2B;
    text-align: center;
    display: block;
}

.player-id {
    display: none;
}

#eights-left .empty {
    visibility: hidden;
}

#eights-right .empty {
    visibility: hidden;
}

#quarters .empty {
    visibility: hidden;
}

#final-16players #b0 {
    margin-bottom: 40%;
}

#final-16players #b2 {
    margin-bottom: 65%;
}

#semis-left #b3 {
    margin-bottom: 50%;
}

#semis-right #b5 {
    margin-bottom: 50%;
}