@import "layout.css";

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--body-bgc) !important;
    background-image: var(--body-bg-img);
    background-size: cover;
}

h1, h2, p {
    color: var(--hX-c);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}



.center {
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
    padding: 5px;
}

.tableFixHead {
    overflow-y: auto;
    width: 100%;
    height: 100%;
}

    .tableFixHead thead th {
        position: sticky;
        top: 0;
        z-index: 2;
        background-color: var(--tableFixHead-bgc);
        /*background-image: var(--tableFixHead-gradient);*/
        padding-bottom: 5px;
        padding-top: 5px;
        padding-left: 5px;
        font-family: var(--tableFixHead-ff);
        /*border-bottom: solid 1px gray;*/
    }

    .tableFixHead tbody td {
        padding-left: 5px;
        font-family: var(--tableFixHead-ff);
        border-bottom: solid 1px #2e2e2e
    }

.wrapper {
    padding: 6px;
}

.roundCorners {
    border-radius: 3px;
}

.upperRoundCorners {
    border-radius: 5px 5px 0px 0px;
}

.lowerRoundCorners {
    border-radius: 0px 0px 5px 5px;
}

.lessOpacity {
    color: var(--lessOpacity-c);
    opacity: 0.8;
}

.editIcon:hover {
    color: var(--editIcon-hover-c);
    cursor: pointer;
}

td:last-child {
    text-align: right;
}

#alignCenter {
    align-self: center;
}

.select-button {
    color: var(--select-button-c);
}

.octicon-arrow-right {
    color: var(--octicon-arrow-right-c);
}

    .octicon-arrow-right:hover {
        color: var(--octicon-arrow-right-hover-c);
        cursor: pointer;
    }

    .octicon-arrow-right:active {
        color: var(--octicon-arrow-right-active-c);
    }

.octicon-arrow-left {
    color: var(--octicon-arrow-left-c);
}

    .octicon-arrow-left:hover {
        color: var(--octicon-arrow-left-hover-c);
        cursor: pointer;
    }

.octicon-completed:hover {
    color: var(--octicon-completed-hover-c);
    cursor: pointer;
}


.octicon-arrow-left:active {
    color: var(--octicon-arrow-left-active-c);
}

.octicon-arrow-left.ongoing {
    color: var(--octicon-arrow-left-ongoing-c);
}

    .octicon-arrow-left.ongoing:hover {
        color: var(--octicon-arrow-left-ongoing-hover-c);
    }

.octicon-completed:active {
    color: var(--octicon-completed-active-c);
}

.octicon-completed.ongoing {
    color: var(--octicon-completed-ongoing-c);
}

    .octicon-completed.ongoing:hover {
        color: var(--octicon-completed-ongoing-hover);
    }

.octicon-x {
    color: var(--octicon-x-c);
}

    .octicon-x:hover {
        color: var(--octicon-x-hover-c);
        cursor: pointer;
    }

    .octicon-x:active {
        color: var(--octicon-x-active-c);
    }

svg {
    fill: currentColor;
}

.grid-container {
    height: 95vh;
    width: 95vw;
    position: relative;
    margin-top: 2.5vh;
    margin-left: 2.5vw;
    font-family: var(--grid-container-ff);
}

    .grid-container * {
        border: none;
        position: relative;
    }

        .grid-container *:after {
            /*content: attr(class);*/
            position: absolute;
        }

.grid-container {
    display: grid;
    grid-template-columns: 1.5fr 0.7fr 0.3fr 1.5fr;
    grid-template-rows: 1.5fr 8.6fr 6fr 0.7fr 1fr 1.5fr;
    grid-template-areas: "Hamburger Hamburger Hamburger Hamburger" "Leaderboard Selected Selected Ongoing" "Leaderboard Selected Selected Completed" "Leaderboard TournamentName TournamentName Completed" "AddPlayers StartTournament ClearTournament Completed" "Footer Footer Footer Footer";
    grid-gap: 20px 20px;
}



.Leaderboard {
    grid-area: Leaderboard;
    overflow: auto;
}

.Selected {
    grid-area: Selected;
    overflow: auto;
}

.TournamentName {
    grid-area: TournamentName;
    line-height: 40px;
}

.StartTournament {
    grid-area: StartTournament;
}

.ClearTournament {
    grid-area: ClearTournament;
}

.AddPlayers {
    grid-area: AddPlayers;
}

.Completed {
    grid-area: Completed;
    overflow: auto;
}

.Ongoing {
    grid-area: Ongoing;
    overflow: auto;
}

.Footer {
    grid-area: Footer;
}

.Hamburger {
    grid-area: Hamburger;
}

.EmptySpace {
    grid-area: EmptySpace;
}

.Gradient {
    background-color: var(--gradient-bgc);
    /*background-image: var(--gradient-gradient);*/
}

.scoretd {
    text-align: center;
}

.scoreth {
    text-align: center;
}

#addPlayerModalBtn {
    background-color: var(--add-new-player-button);
    color: var(--body-font-color);
}

    #addPlayerModalBtn:hover {
        background-color: var(--add-new-player-button-hover);
        color: var(--body-font-color);
        
    }

#startTournament {
    background-color: var(--add-new-player-button);
        color: var(--body-font-color);
}

#startTournament {
    background-color: var(--add-new-player-button-hover);
        color: var(--body-font-color);
}