@import "layout.css";



/*@media only screen and (min-width: 2048px) {

    .octicon-arrow-select {
        width: 20px;
        height: 35px;
    }
}*/

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--body-bgc) !important;
    background-image: var(--body-bg-img);
    background-size: cover;
}

h1, h2, p {
    color: var(--hX-c);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}



.center {
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
    padding: 5px;
}

.tableFixHead {
    overflow-y: auto;
    width: 100%;
    height: 100%;
}

    .tableFixHead thead th {
        position: sticky;
        top: 0;
        z-index: 2;
        background-color: var(--tableFixHead-bgc);
        /*background-image: var(--tableFixHead-gradient);*/
        padding-bottom: 5px;
        padding-top: 5px;
        padding-left: 5px;
        font-family: var(--tableFixHead-ff);
        /*border-bottom: solid 1px gray;*/
    }

    .tableFixHead tbody td {
        padding-left: 5px;
        font-family: var(--tableFixHead-ff);
        border-bottom: solid 1px #2e2e2e
    }

.wrapper {
    padding: 6px;
}

.roundCorners {
    border-radius: 3px;
}

.upperRoundCorners {
    border-radius: 5px 5px 0px 0px;
}

.lowerRoundCorners {
    border-radius: 0px 0px 5px 5px;
}

.lessOpacity {
    color: var(--lessOpacity-c);
    opacity: 0.8;
}



td:last-child {
    text-align: right;
}

#alignCenter {
    align-self: center;
}

.select-button {
    color: var(--select-button-c);
}


/* ARROWS */
.octicon-arrow-select {
    color: var(--octicon-arrow-select-c);
    width: 20px;
    height: 35px;
}

    .octicon-arrow-select:hover {
        color: var(--octicon-arrow-select-hover-c);
        cursor: pointer;
    }

    .octicon-arrow-select:active {
        color: var(--octicon-arrow-select-active-c);
    }

.octicon-arrow-remove {
    color: var(--octicon-arrow-remove-c);
    width: 20px;
    height: 35px;
}

    .octicon-arrow-remove:hover {
        color: var(--octicon-arrow-remove-hover-c);
        cursor: pointer;
    }

    .octicon-arrow-remove:active {
        color: var(--octicon-arrow-remove-active-c);
    }

.octicon-completed:hover {
    color: var(--octicon-completed-hover-c);
    cursor: pointer;
}

.octicon-arrow-ongoing {
    color: var(--octicon-arrow-ongoing-c);
    width: 20px;
    height: 35px;
}

    .octicon-arrow-ongoing:hover {
        color: var(--octicon-arrow-ongoing-hover-c);
    }

.octicon-arrow-completed {
    color: var(--octicon-arrow-completed-c);
    width: 20px;
    height: 35px;
}

    .octicon-arrow-completed:hover {
        color: var(--octicon-arrow-completed-hover-c);
    }

    .octicon-arrow-completed:active {
        color: var(--octicon-arrow-completed-active-c);
    }


.octicon-x {
    color: var(--octicon-x-c);
    width: 20px;
    height: 35px;
}

    .octicon-x:hover {
        color: var(--octicon-x-hover-c);
        cursor: pointer;
    }

    .octicon-x:active {
        color: var(--octicon-x-active-c);
    }

.octicon-edit-icon {
    height: 35px;
    width: 20px;
}

    .octicon-edit-icon:hover {
        color: var(--octicon-edit-icon-hover-c);
        cursor: pointer;
    }

svg {
    fill: currentColor;
}

.grid-container {
    height: 95vh;
    width: 95vw;
    position: relative;
    margin-top: 2.5vh;
    margin-left: 2.5vw;
    font-family: var(--grid-container-ff);
}

    .grid-container * {
        border: none;
        position: relative;
    }

        .grid-container *:after {
            /*content: attr(class);*/
            position: absolute;
        }

.grid-container {
    display: grid;
    grid-template-columns: 1.5fr 0.5fr 0.3fr 1.5fr;
    grid-template-rows: 1.5fr 8.6fr 6fr 0.7fr 1fr 1.5fr;
    grid-template-areas: "Hamburger Hamburger Hamburger Hamburger" "Leaderboard Selected Selected Ongoing" "Leaderboard Selected Selected Completed" "Leaderboard TournamentName TournamentName Completed" "AddPlayers StartTournament ClearTournament Completed" "Footer Footer Footer Footer";
    grid-gap: 20px 20px;
}



.Leaderboard {
    grid-area: Leaderboard;
    overflow: auto;
}

.Selected {
    grid-area: Selected;
    overflow: auto;
}

.TournamentName {
    grid-area: TournamentName;
    line-height: 40px;
}

.StartTournament {
    grid-area: StartTournament;
}

.ClearTournament {
    grid-area: ClearTournament;
}

.AddPlayers {
    grid-area: AddPlayers;
}

.Completed {
    grid-area: Completed;
    overflow: auto;
}

.Ongoing {
    grid-area: Ongoing;
    overflow: auto;
}

.Footer {
    grid-area: Footer;
}

.Hamburger {
    grid-area: Hamburger;
}

.EmptySpace {
    grid-area: EmptySpace;
}

.Gradient {
    background-color: var(--gradient-bgc);
    /*background-image: var(--gradient-gradient);*/
}

.scoretd {
    text-align: center;
}

.scoreth {
    text-align: center;
}

#addPlayerModalBtn {
    background-color: var(--add-new-player-button);
    color: var(--body-font-color);
}

    #addPlayerModalBtn:hover {
        background-color: var(--add-new-player-button-hover);
        color: var(--body-font-color);
    }

#startTournament {
    background-color: var(--add-new-player-button);
    color: var(--body-font-color);
}

#startTournament {
    background-color: var(--add-new-player-button-hover);
    color: var(--body-font-color);
}

.no-border {
    border-bottom: 0 none;
    border-top: 0 none;
}

.modal-header {
    border-bottom: 0 none;

}

.modal-footer {
    border-top: 0 none;
}


/* IPAD AIR */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {


    .octicon-arrow-select, .octicon-arrow-ongoing, .octicon-arrow-completed, .octicon-arrow-remove, .octicon-edit-icon {
        width: 27px;
        height: 47px;
    }
}

/*@media only screen and (max-width: 1000px) {
    .octicon-arrow-select {
        width: 30px;
        height: 52px;
    }
}*/