@import "layout.css";
@import "octicons.css";


html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--body-bgc) !important;
    background-image: var(--body-bg-img);
    background-size: cover;
}

h1, h2, p {
    color: var(--hX-c);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}



.center {
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
    padding: 5px;
}

.tableFixHead {
    overflow-y: auto;
    width: 100%;
    height: 100%;
}

    .tableFixHead thead th {
        position: sticky;
        position: -webkit-sticky;
        top: 0;
        z-index: 2;
        background-color: var(--tableFixHead-bgc);
        background-image: var(--tableFixHead-gradient);
        padding-bottom: 5px;
        padding-top: 5px;
        padding-left: 5px;
        font-family: var(--tableFixHead-ff);
        /*border-bottom: solid 1px gray;*/
    }


    .tableFixHead tbody td {
        padding-left: 5px;
        font-family: var(--tableFixHead-ff);
        border-bottom: solid 1px #2e2e2e
    }

#selectedTableHead tr {
    height: 55px;
}

#selectedTableHead th {
    background-color: var(--selectedTableHead-th-bgc);
    background-image: var(--selectedTableHead-th-img);
    background-repeat: no-repeat;
    /*background-color: #85881f;*/
}

#selectedPlayersTr {
    color: #808080;
}

#selected-header-txt {
    font-size: 1.2em;
}

.Completed .table-colorized-header {
    color: var(--table-colorized-header-completed-c);
}

.Ongoing .table-colorized-header {
    color: var(--table-colorized-header-ongoing-c);
}

.Leaderboard .table-colorized-header {
    color: var(--table-colorized-header-leaderboard-c);
}

.wrapper {
    padding: 6px;
}

.roundCorners {
    border-radius: 3px;
}

.upperRoundCorners {
    border-radius: 5px 5px 0px 0px;
}

.lowerRoundCorners {
    border-radius: 0px 0px 5px 5px;
}

.lessOpacity {
    color: var(--lessOpacity-c);
    opacity: 1;
}



td:last-child {
    text-align: right;
}

#alignCenter {
    align-self: center;
}

.select-button {
    color: var(--select-button-c);
}

.grid-container {
    height: 95vh;
    width: 95vw;
    position: relative;
    margin-top: 2.5vh;
    margin-left: 2.5vw;
}

    .grid-container * {
        /*border: 1px solid red;*/
        position: relative;
    }

        .grid-container *:after {
            /*content: attr(class);*/
            position: absolute;
        }

.grid-container {
    display: grid;
    grid-template-columns: 1.5fr 0.5fr 0.3fr 1.5fr;
    grid-template-rows: 1.5fr 8.6fr 6fr 0.7fr 1fr 1.5fr;
    grid-template-areas: "Hamburger Hamburger Hamburger Hamburger" "Leaderboard Selected Selected Ongoing" "Leaderboard Selected Selected Completed" "Leaderboard TournamentName TournamentName Completed" "AddPlayers StartTournament ClearTournament Completed" "Footer Footer Footer Footer";
    grid-gap: 20px 20px;
}



.Leaderboard {
    grid-area: Leaderboard;
    overflow: auto;
    margin-top: 2%;
}

.Selected {
    grid-area: Selected;
    overflow: auto;
}

.TournamentName {
    grid-area: TournamentName;
    line-height: 40px;
}

.StartTournament {
    grid-area: StartTournament;
}

.ClearTournament {
    grid-area: ClearTournament;
}

.AddPlayers {
    grid-area: AddPlayers;
}

.Completed {
    grid-area: Completed;
    overflow: auto;
}



.Ongoing {
    grid-area: Ongoing;
    overflow: auto;
    margin-top: 2%;
}

.Footer {
    grid-area: Footer;
}

.Hamburger {
    grid-area: Hamburger
}

.EmptySpace {
    grid-area: EmptySpace;
}

/* TABLE BACKGROUNDS*/
.Leaderboard, .Completed, .Ongoing, .Selected {
    background-color: var(--tables-bgc);
    background-image: var(--tables-gradient);
}

.scoreth {
    text-align: center;
    width: 150px;
}

.scoretd {
    text-align: center;
    width: 150px;
}




#addPlayerModalBtn {
    background-color: var(--add-new-player-button);
    border: solid 1px rgb(21, 86, 60);
    color: var(--body-font-color);
}

    #addPlayerModalBtn:hover {
        background-color: var(--add-new-player-button-hover);
        color: var(--body-font-color);
    }

#startTournament {
    background-color: var(--start-tournament-button-c);
    color: var(--body-font-color);
    /*border: none;*/
}



#startTournament:hover {
    background-color: var(--start-tournament-button-hover-c);
    color: var(--body-font-color);
}

    #startTournament.btn-secondary {
        background-color: #494949;
        color: var(--body-font-color);
    }

    #startTournament.btn-secondary:hover {
        background-color: #494949;
        color: var(--body-font-color);
    }

    #startTournament.resume-btn {
        background-color: #b4b231;
        color: white;
    }

    #startTournament.resume-btn:hover {
        background-color: #aeac2f;
    }

.no-border {
    border-bottom: 0 none;
    border-top: 0 none;
}

.modal-header {
    border-bottom: 0 none !important;

}

.modal-footer {
    border-top: 0 none;
}

#editPlayerBtn {
    background-color: #32b580;
    color: white;
}

#deletePlayerBtn {
    background-color: #ab2a2a;
    color: white;
}

#add-players-btn {
    background-color: #32b580;
    color: white;
    color: #c1e8c9
}

/* IPAD AIR */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    .octicon-arrow-select, .octicon-arrow-ongoing, .octicon-arrow-completed, .octicon-arrow-remove, .octicon-edit-icon {
        width: 27px;
        height: 47px;
    }

    #selected-header-txt {
        font-size: 1em;
    }
}