body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #313131 !important;
}


footer {
    position: relative;
    height: 60px;
    width: 100%;
    background-color: #313131;
}

p.copyright {
    position: absolute;
    width: 100%;
    color: #CADBCF;
    line-height: 40px;
    font-size: 0.7em;
    text-align: center;
    bottom: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h3 {
    color: #CADBCF;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h2 {
    color: #CADBCF;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
    color: #CADBCF;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

table {
    border-collapse: collapse;
    width: 100%;
}
.tableFixHead {
    overflow-y: auto;
    width: 100%;
    height: 100%;
}
    .tableFixHead thead th {
        position: sticky;
        top: 0;
        z-index: 2;
        background-color: #239165;
        padding: 5px;
    }

.wrapper {
    padding: 6px;
}

.roundCorners {
    border-radius: 5px;
}

.upperRoundCorners {
    border-radius: 5px 5px 0px 0px;
}

.lowerRoundCorners {
    border-radius: 0px 0px 5px 5px;
}

.lessOpacity {
    color: white;
    opacity: 0.8;
}

.editIcon:hover {
    color: yellow;
    cursor: pointer;
}

td:last-child {
    text-align: right;
}

#alignCenter {
    align-self: center;
}

.select-button {
    color: green;
}

.octicon-arrow-right {
    color: green;
}

.octicon-arrow-right:hover {
    color: lightgreen;
    cursor: pointer;
}

.octicon-arrow-right:active {
    color: white;
}

.octicon-arrow-left {
    color: red;
}

.octicon-arrow-left:hover {
    color: lightcoral;
    cursor: pointer;
}

.octicon-arrow-left:active {
    color: white;
}

.octicon-arrow-left.ongoing {
    color: blue;
}

    .octicon-arrow-left.ongoing:hover {
        color: #8c8cff;
    }



.octicon-x {
    color: red;
}

.octicon-x:hover {
    color: lightcoral;
    cursor: pointer;
}

.octicon-x:active {
    color: white;
}
svg {
    fill: currentColor;
}

.grid-container {
    height: 95vh;
    width: 95vw;
    position: relative;
    margin-top: 2.5vh;
    margin-left: 2.5vw;
}

    .grid-container * {
        border: none;
        position: relative;

    }

        .grid-container *:after {
            /*content: attr(class);*/
            position: absolute;

        }

.grid-container {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1.5fr;
    grid-template-rows: 1.5fr 8.6fr 6fr 0.7fr 1fr;
    grid-template-areas: "CompanyName CompanyName CompanyName" "Leaderboard Selected Ongoing" "Leaderboard Selected Completed" "Leaderboard TournamentName Completed" "AddPlayers StartTournament Completed";
    grid-gap: 1px 10px;
}

.CompanyName {
    grid-area: CompanyName;
}

.Leaderboard {
    grid-area: Leaderboard;
    background-color: #15593E;
    color: #CADBCF;
    opacity: 1;
    overflow: auto;
}

.Selected {
    grid-area: Selected;
    background-color: #15593E;
    color: #CADBCF;
    opacity: 1;
    overflow: auto;
}

.TournamentName {
    grid-area: TournamentName;
    background-color: #15593E;
    opacity: 1;
}

.StartTournament {
    grid-area: StartTournament;
    background-color: #15593E;
    opacity: 1;
}

.AddPlayers {
    grid-area: AddPlayers;
    background-color: #15593E;
    color: #CADBCF;
    opacity: 1;
}

.Completed {
    grid-area: Completed;
    background-color: #15593E;
    color: #CADBCF;
    opacity: 1;
    overflow: auto;
}

.Ongoing {
    grid-area: Ongoing;
    background-color: #15593E;
    color: #CADBCF;
    opacity: 1;
    overflow: auto;
}

.GradientGreen {
    background-color: #114a33;
    background-image: linear-gradient(#114a33, #176647)
}

