
h3 {
    color: White;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.wrapper {
    padding-left: 6px;
    padding-right: 6px;
}

.roundCorners {
    border-radius: 5px;
}
.upperRoundCorners {
    border-radius: 5px 5px 0px 0px;
}
.lowerRoundCorners {
    border-radius: 0px 0px 5px 5px;
}

.lessOpacity {
    color: white;
    opacity: 0.8
}

.highscore {
    grid-area: hi;
    background-color: #725375;
    color: #c3a7bd;
    opacity: 0.8;
}

.selected {
    grid-area: se;
    background-color: #903925;
    color: #c99681;
    opacity: 0.8;
}

.ongoingTournaments {
    grid-area: ot;
    background-color: #ad5428;
    color: #b9947a;
    opacity: 0.8;
}

.completedTournaments {
    grid-area: ct;
    background-color: #597544;
    color: #a3b096;
    opacity: 0.8;
}
.addPlayer {
    grid-area: ad;
    background-color: #725375;
    color: #c3a7bd;
    opacity: 0.8;
}

.indexGrid {
    display: grid;
    grid-template-columns: 40% 20% 40%;
    grid-template-rows: auto;
    grid-template-areas:
        "hi se ot"
        "hi se ot"
        "hi se ct"
        "hi se ct"
        "ad se ct";
    grid-gap: 0px 10px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

td:last-child {
    text-align: right;
}

#alignCenter {
    align-self: center;
}