
    <!-- [EIGHTS LEFT] -->
    <div class="bracket-level" id="eights-left">
        <!-- [UPPER] -->
        <div class="bracket-match upper">
            <div class="bracket rounded" id="b15">
                <span class="player-name"></span><span class="player-id"></span>
            </div>
            <div class="bracket rounded" id="b16">
                <span class="player-name"></span><span class="player-id"></span>
            </div>
        </div>
        <div class="bracket-match upper">
            <div class="bracket rounded" id="b17">
                <span class="player-name"></span><span class="player-id"></span>
            </div>
            <div class="bracket rounded" id="b18">
                <span class="player-name"></span><span class="player-id"></span>
            </div>
        </div>
        <!-- [LOWER] -->
        <div class="bracket-match lower">
            <div class="bracket rounded" id="b19">
                <span class="player-name"></span><span class="player-id"></span>
            </div>
            <div class="bracket rounded" id="b20">
                <span class="player-name"></span><span class="player-id"></span>
            </div>
        </div>
        <div class="bracket-match lower">
            <div class="bracket rounded" id="b21">
                <span class="player-name"></span><span class="player-id"></span>
            </div>
            <div class="bracket rounded" id="b22">
                <span class="player-name"></span><span class="player-id"></span>
            </div>
        </div>
    </div>
    <!-- [QUARTERS LEFT] -->
    <div class="bracket-level" id="quarters-left">
        <!-- [UPPER] -->
        <div class="bracket-match upper">
            <div class="bracket rounded" id="b7">
                <span class="player-name"></span><span class="player-id"></span>
            </div>
            <div class="bracket rounded" id="b8">
                <span class="player-name"></span><span class="player-id"></span>
            </div>
        </div>
        <!-- [LOWER] -->
        <div class="bracket-match lower">
            <div class="bracket rounded" id="b9">
                <span class="player-name"></span><span class="player-id"></span>
            </div>
            <div class="bracket rounded" id="b10">
                <span class="player-name"></span><span class="player-id"></span>
            </div>
        </div>

    </div>
    <!-- [SEMIS LEFT] -->
    <div class="bracket-level" id="semis-left">
        <div class="bracket-match">
            <div class="bracket rounded" id="b3">
                <span class="player-name"></span><span class="player-id"></span>
            </div>
            <div class="bracket rounded" id="b4">
                <span class="player-name"></span><span class="player-id"></span>
            </div>
        </div>
    </div>
    <!-- [FINAL AND WINNER] -->
    <div class="bracket-level" id="final-16players">
        <div class="bracket-match">
            <div class="bracket rounded" id="b0" onclick="saveScoreAndMarkTourAsCompletedInDB()">
                <span class="player-name"></span><span class="player-id"></span>
            </div>

            <div class="bracket rounded" id="b1">
                <span class="player-name"></span><span class="player-id"></span>
            </div>
            <div class="bracket rounded" id="b2">
                <span class="player-name"></span><span class="player-id"></span>
            </div>
        </div>
    </div>


    <!-- [SEMIS RIGHT] -->
    <div class="bracket-level" id="semis-right">
        <div class="bracket-match">
            <div class="bracket rounded" id="b5">
                <span class="player-name"></span><span class="player-id"></span>
            </div>
            <div class="bracket rounded" id="b6">
                <span class="player-name"></span><span class="player-id"></span>
            </div>
        </div>
    </div>
    <!-- [QUARTERS RIGHT] -->
    <div class="bracket-level" id="quarters-right">
        <!-- [UPPER] -->
        <div class="bracket-match upper">
            <div class="bracket rounded" id="b11">
                <span class="player-name"></span><span class="player-id"></span>
            </div>
            <div class="bracket rounded" id="b12">
                <span class="player-name"></span><span class="player-id"></span>
            </div>
        </div>
        <!-- [LOWER] -->
        <div class="bracket-match lower">
            <div class="bracket rounded" id="b13">
                <span class="player-name"></span><span class="player-id"></span>
            </div>
            <div class="bracket rounded" id="b14">
                <span class="player-name"></span><span class="player-id"></span>
            </div>
        </div>
    </div>
    <!-- [EIGHTS RIGHT] -->
    <div class="bracket-level" id="eights-right">
        <!-- [UPPER] -->
        <div class="bracket-match upper">
            <div class="bracket rounded" id="b23">
                <span class="player-name"></span><span class="player-id"></span>
            </div>
            <div class="bracket rounded" id="b24">
                <span class="player-name"></span><span class="player-id"></span>
            </div>
        </div>
        <div class="bracket-match upper">
            <div class="bracket rounded" id="b25">
                <span class="player-name"></span><span class="player-id"></span>
            </div>
            <div class="bracket rounded" id="b26">
                <span class="player-name"></span><span class="player-id"></span>
            </div>
        </div>
        <!-- [LOWER] -->
        <div class="bracket-match lower">
            <div class="bracket rounded" id="b27">
                <span class="player-name"></span><span class="player-id"></span>
            </div>
            <div class="bracket rounded" id="b28">
                <span class="player-name"></span><span class="player-id"></span>
            </div>
        </div>
        <div class="bracket-match lower">
            <div class="bracket rounded" id="b29">
                <span class="player-name"></span><span class="player-id"></span>
            </div>
            <div class="bracket rounded" id="b30">
                <span class="player-name"></span><span class="player-id"></span>
            </div>
        </div>
    </div>
