
<!-- [QUARTERS] -->
<div class="bracket-level" id="quarters">
    <!-- [UPPER] -->
    <div class="bracket-match upper">
        <div class="bracket rounded" id="b7">
            <span class="player-name"></span><span class="player-id"></span>
        </div>
        <div class="bracket rounded" id="b8">
            <span class="player-name"></span><span class="player-id"></span>
        </div>
    </div>
    <div class="bracket-match upper">
        <div class="bracket rounded" id="b9">
            <span class="player-name"></span><span class="player-id"></span>
        </div>
        <div class="bracket rounded" id="b10">
            <span class="player-name"></span><span class="player-id"></span>
        </div>
    </div>
    <!-- [LOWER] -->
    <div class="bracket-match lower">
        <div class="bracket rounded" id="b11">
            <span class="player-name"></span><span class="player-id"></span>
        </div>
        <div class="bracket rounded" id="b12">
            <span class="player-name"></span><span class="player-id"></span>
        </div>
    </div>
    <div class="bracket-match lower">
        <div class="bracket rounded" id="b13">
            <span class="player-name"></span><span class="player-id"></span>
        </div>
        <div class="bracket rounded" id="b14">
            <span class="player-name"></span><span class="player-id"></span>
        </div>
    </div>
</div>
<!-- [SEMIS] -->
<div class="bracket-level" id="semis">
    <!-- [UPPER] -->
    <div class="bracket-match upper">
        <div class="bracket rounded" id="b3">
            <span class="player-name"></span><span class="player-id"></span>
        </div>
        <div class="bracket rounded" id="b4">
            <span class="player-name"></span><span class="player-id"></span>
        </div>
    </div>
    <!-- [LOWER] -->
    <div class="bracket-match lower">
        <div class="bracket rounded" id="b5">
            <span class="player-name"></span><span class="player-id"></span>
        </div>
        <div class="bracket rounded" id="b6">
            <span class="player-name"></span><span class="player-id"></span>
        </div>
    </div>
</div>
<!-- [FINAL] -->
<div class="bracket-level" id="final-8players">
    <div class="bracket-match">
        <div class="bracket rounded" id="b1">
            <span class="player-name"></span><span class="player-id"></span>
        </div>
        <div class="bracket rounded" id="b2">
            <span class="player-name"></span><span class="player-id"></span>
        </div>
    </div>
</div>
<!-- [WINNER] -->
<div class="bracket-level" id="winner">
    <div class="bracket-match">
        <div class="bracket rounded" id="b0" onclick="saveScoreAndMarkTourAsCompletedInDB()">
            <span class="player-name"></span><span class="player-id"></span>
        </div>
    </div>
</div>
