@model BracketIdVM
@{
    ViewData["Title"] = "Index";
}

<div class="bracket-container">
    <div class="bracket-level" id="quarters">
        <div class="bracket-match">
            <div class="bracket rounded" id="b7">
                <span class="player-name"></span><span class="player-id"></span>
            </div>
            <div class="bracket rounded" id="b8">
                <span class="player-name"></span><span class="player-id"></span>
            </div>
        </div>
        <div class="bracket-match">
            <div class="bracket rounded" id="b9">
                <span class="player-name"></span><span class="player-id"></span>
            </div>
            <div class="bracket rounded" id="b10">
                <span class="player-name"></span><span class="player-id"></span>
            </div>
        </div>
        <div class="bracket-match">
            <div class="bracket rounded" id="b11">
                <span class="player-name"></span><span class="player-id"></span>
            </div>
            <div class="bracket rounded" id="b12">
                <span class="player-name"></span><span class="player-id"></span>
            </div>
        </div>
        <div class="bracket-match">
            <div class="bracket rounded" id="b13">
                <span class="player-name"></span><span class="player-id"></span>
            </div>
            <div class="bracket rounded" id="b14">
                <span class="player-name"></span><span class="player-id"></span>
            </div>
        </div>
    </div>
    <div class="bracket-level" id="semis">
        <div class="bracket-match">
            <div class="bracket rounded" id="b3">
                <span class="player-name"></span><span class="player-id"></span>
            </div>
            <div class="bracket rounded" id="b4">
                <span class="player-name"></span><span class="player-id"></span>
            </div>
        </div>
        <div class="bracket-match">
            <div class="bracket rounded" id="b5">
                <span class="player-name"></span><span class="player-id"></span>
            </div>
            <div class="bracket rounded" id="b6">
                <span class="player-name"></span><span class="player-id"></span>
            </div>
        </div>
    </div>
    <div class="bracket-level" id="final">
        <div class="bracket-match">
            <div class="bracket rounded" id="b1">
                <span class="player-name"></span><span class="player-id"></span>
            </div>
            <div class="bracket rounded" id="b2">
                <span class="player-name"></span><span class="player-id"></span>
            </div>
        </div>
    </div>
    <div class="bracket-level" id="winner">
        <div class="bracket-match">
            <div class="bracket-team" id="b0">
                <span class="player-name"></span><span class="player-id"></span>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/js/bracket.js"></script>
    <script type="text/javascript">

    var bracketId = @Html.Raw((this.Model.BracketId));


   document.addEventListener("DOMContentLoaded", function () {
    getTournamentBracketJSON(bracketId)

    });

    </script>
}
