@model BracketIdVM
@{
    ViewData["Title"] = "Index";
}

<div class="bracket-container"></div>

@section scripts {
    <script src="~/js/bracket.js"></script>
    <script type="text/javascript">

    var bracketId = @Html.Raw((this.Model.BracketId));


    $(document).ready(function() {
         getTournamentBracketJSON(bracketId)
    });

    </script>
}
