@model BracketIdVM
@{
    ViewData["Title"] = "Index";
}
@section styles {
    <link href="~/css/brackets.css" rel="stylesheet" />
}

<div class="grid-container samuelsTheme">
    <div class="Hamburger">
        <partial name="_Hamburger" />
    </div>
    <div class="Footer">

        <p class="copyright">© Business Tournaments 2020</p>

    </div>
    <div class="TournamentName"></div>
    <div class="SaveAndClose"><input type="button" class="btn save" id="savebtn" value="SAVE & CLOSE" onclick="saveScoreAndMarkTourAsCompletedInDB()" /></div>
    <div class="EmptyUpperRight"></div>
    <div class="EmptyLowerRight"></div>
    <div class="EmptyLowerLeft"></div>
    <div class="BracketGrid">

        <div class="bracket-container">
        </div>
    </div>


</div>

@*<audio id="audiotag2" src="~/audio/bell.wav" preload="auto"></audio>*@


@section scripts {
    @*<script src="~/js/hamburger.js"></script>*@

    <script src="~/js/bracket.js"></script>
    <script type="text/javascript">

        @*var bracketId = @Html.Raw((this.Model.BracketId));*@

        var bracketId = @ViewData["bracketId"];


    $(document).ready(function() {
        getTournamentBracketJSON(bracketId)
    });

    </script>
}
