@model BracketIdVM
@{
    ViewData["Title"] = "Index";
}

<h1>@Model.BracketId</h1>

@section scripts {
    <script src="~/js/bracket.js"></script>
    <script type="text/javascript">

    var bracketId = @Html.Raw((this.Model.BracketId));
        

   document.addEventListener("DOMContentLoaded", function () {
    getTournamentBracketJSON(bracketId)
   
    });


function getTournamentBracketJSON(bracketId) {

    var url = "b/" + bracketId;
    $.ajax({
        url: url,
        type: "GET",
        success: function (response) {
            console.log(response)
             window.location.href = `/brackets/b/${bracketId}`

        },
        error: function () {
            console.log("error");
        }
    });
}
    </script>
}
